@model GenericModel
@{
    Layout = "_AdminLayout";
}
<style>
    td img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        padding-left: 10%;
    }
</style>

<div class="mb-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Avatar</th>
                <th scope="col">İsim</th>
                <th scope="col">IMDB</th>
                <th scope="col" style="width: 100px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.directors)
            {
                <tr>
                    <th scope="row">@item.id</th>
                    <td style="height: 150px;"><img src="~/images/@item.avatar" width="200px"></td>
                    <td>@item.name</td>
                    <td>  <a href="@item.ımdb" style="color:#F5C618;" target="_blank"><i class="fab fa-imdb fa-3x"
                            style="float:center;padding-left:10%"></i></a></td>
                    <td style="width: 150px;">
                        <a asp-controller="admin" asp-action="EditDirector" asp-route-id="@item.id"
                        class="btn btn-info btn-sm">Düzenle</a>
                        <a asp-controller="admin" asp-action="DeleteDirector" asp-route-id="@item.id"
                        class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a asp-controller="admin" asp-action="AddDirector" class="btn btn-primary btn-sm mb-5" style="float:right;">Yönetmen
        Ekle</a>

</div>
